@import "./header.css";
@import "./footer.css";

:root {
  --header-height: 120px;
  --footer-height: 80px;
}

/* ------------------------------------------------- */

html,
body {
  font-family:
    "Iansui", "LXGW WenKai Mono TC", "Noto Sans TC", system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;

  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-blend-mode: var(--bg-blend);
  color: var(--text-color);
  letter-spacing: 0.01rem;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
