/* 通用基礎設定 */
.box {
  background-color: var(--box-bg-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow:
    0 0 40px rgba(0, 0, 0, 0.4),
    0 0 12px rgba(255, 255, 255, 0.15);
}
.branch_bottom,
.branch_top {
  width: 180px;
  height: auto;
  display: block;
  color: var(--text-color);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.1));
}

#gallery {
  max-width: 500px;
  width: 500px;
  margin: 0 auto;
}

.gallery-sizer,
.gallery-item {
  width: 100px;
}

.gallery-item {
  padding-left: 5px;
  margin-bottom: 5px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 1.3rem;
  font-family: "Iansui", "LXGW WenKai Mono TC", sans-serif;
  border-bottom: 1px solid var(--text-color);
  font-weight: normal;
  text-shadow: var(--shadow-chinese);
}
.article-date {
  font-size: 0.8rem;
  font-family: "Iansui", "LXGW WenKai Mono TC", sans-serif;
}
.article-body {
  p {
    font-size: 0.95rem;
    line-height: 1.6;
    max-height: 4.2rem;
    overflow: hidden;
  }
  a {
    font-size: 0.8rem;
    border: 1px solid var(--text-color);
    padding: 0.2rem 0.5rem;
    margin-top: 10px;
    margin-left: auto;
    width: fit-content;
  }
}

#original {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;


    .left {
      background-image: url("../../image/original/original-banner.avif");
      background-color: rgba(100, 109, 125, 1);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-left: 30px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #link-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    h4 {
      width: 80%;
      font-weight: bold;
    }

    .others {
      border-right: 1px dashed transparent;
    }
    .pageBtn {
      width: fit-content;
      display: inline-block;
      opacity: 0.7;
      transition: var(--all-02s-easeOut);

      &:hover {
        letter-spacing: 0.05rem;
        opacity: 1;
      }
    }
  }
}

#jatorri {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    border-bottom: 1px dashed var(--text-color);
    background-image: url("../../image/original/jatorri-banner.avif");
    background-color: rgba(35, 48, 75, 0.9);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50% 65%;
    .left {
      position: relative;
      display: flex;
      justify-content: end;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        position: absolute;
        bottom: calc(50% - 50px);
        right: 75px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(10px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-10px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(40px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(-40px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .name-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 7rem;
      .character-card {
        display: flex;
        flex-direction: row;
        text-align: left;
      }
      .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 1px solid #fff;
        margin-right: 1rem;
      }
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
