/* 通用基礎設定 */
.box {
  background-color: var(--box-bg-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow:
    0 0 40px rgba(0, 0, 0, 0.4),
    0 0 12px rgba(255, 255, 255, 0.15);
}
.branch_bottom,
.branch_top {
  width: 180px;
  height: auto;
  display: block;
  color: var(--text-color);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.1));
}

#gallery {
  max-width: 600px;
  width: 600px;
  margin: 0;
}

.gallery-sizer,
.gallery-item {
  width: 100px;
}

.gallery-item {
  padding-left: 5px;
  margin-bottom: 5px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 1.3rem;
  font-family: "Iansui", "LXGW WenKai Mono TC", sans-serif;
  border-bottom: 1px solid var(--text-color);
  font-weight: normal;
  text-shadow: var(--shadow-chinese);
}
.article-date {
  font-size: 0.8rem;
  font-family: "Iansui", "LXGW WenKai Mono TC", sans-serif;
}
.article-body {
  p {
    font-size: 0.95rem;
    line-height: 1.6;
    max-height: 4.2rem;
    overflow: hidden;
  }
  a {
    font-size: 0.8rem;
    border: 1px solid var(--text-color);
    padding: 0.2rem 0.5rem;
    margin-top: 10px;
    margin-left: auto;
    width: fit-content;
  }
}

#original {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;

    .left {
      background-image: url("../../image/original/original-banner.avif");
      background-color: rgba(100, 109, 125, 1);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-left: 30px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #link-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    h4 {
      width: 80%;
      font-weight: bold;
    }

    .others {
      border-right: 1px dashed transparent;
    }
    .pageBtn {
      width: fit-content;
      display: inline-block;
      opacity: 0.7;
      transition: var(--all-02s-easeOut);

      &:hover {
        letter-spacing: 0.05rem;
        opacity: 1;
      }
    }
  }
}

#jatorri {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;
    .left {
      background-image: url("../../image/original/jatorri-banner2.avif");
      background-color: rgb(44, 62, 93);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-left: 30px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(40px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(-40px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-area {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.5rem;
    & > .box:nth-child(1) {
      align-self: start;
    }
    .noun-list {
      height: 0;
      min-height: 90%;
      overflow-y: auto;
      min-width: 0;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .name-list {
      .character-card {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 1.5rem;
        width: fit-content;
      }
      .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid #fff;
        margin-right: 1rem;
      }
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      height: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2.5rem;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

#IB {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;
    .left {
      background-image: url("../../image/original/IB-banner.avif");
      background-color: rgb(121, 130, 121);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 60px;
        font-family: "Italianno", "Shippori Mincho B1", cursive;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 6px rgba(255, 255, 255, 1);
        margin: 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -25px;
        margin-left: 190px;
        font-size: 40px;
        font-family: "Italianno", "Shippori Mincho B1", cursive;
              color: #fff;
        text-shadow:
          0 0 5px rgba(255, 255, 255, 0.8),
          0 0 5px rgba(255, 255, 255, 0.8);
        z-index: 0;
        font-weight: normal;
      }
    }
    .right {
      padding: 2rem 0;
      h6 {
        font-size: 17px;
        /* font-weight: bold; */
        text-shadow: var(--shadow-chinese);
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(10px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(-10px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-area {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.5rem;
    & > .box:nth-child(1) {
      align-self: start;
    }
    .noun-list {
      height: 0;
      min-height: 90%;
      overflow-y: auto;
      min-width: 0;
      padding: 0.5rem 1.5rem 1.5rem 0.5rem;
    }
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .name-list {
      .character-card {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 1.5rem;
        width: fit-content;
        p{
          text-shadow: var(--shadow-chinese);
        }
      }
      .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid rgb(19, 31, 8);
        margin-right: 1rem;
      }
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      height: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(19, 31, 8, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(19, 31, 8, 0.3);
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2.5rem;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

#FO {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;
    .left {
      background-image: url("../../image/original/FO-banner.avif");
      background-color: rgb(190, 171, 171);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-left: 150px;
        font-size: 25px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(40px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(-40px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-area {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.5rem;
    & > .box:nth-child(1) {
      align-self: start;
    }
    .noun-list {
      height: 0;
      min-height: 90%;
      overflow-y: auto;
      min-width: 0;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .name-list {
      .character-card {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 1.5rem;
        width: fit-content;
      }
      .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid #fff;
        margin-right: 1rem;
      }
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      height: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2.5rem;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

#SAR {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;
    .left {
      background-image: url("../../image/original/SAR-banner.avif");
      background-color: rgb(183, 183, 183);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 60px;
        font-family: "Italianno", "Shippori Mincho B1", cursive;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 6px rgba(255, 255, 255, 1);
        margin: 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -25px;
        margin-left: 190px;
        font-size: 40px;
        font-family: "Italianno", "Shippori Mincho B1", cursive;
              color: #fff;
        text-shadow:
          0 0 5px rgba(255, 255, 255, 0.8),
          0 0 5px rgba(255, 255, 255, 0.8);
        z-index: 0;
        font-weight: normal;
      }
    }
    .right {
      padding: 2rem 0;
      h6 {
        font-size: 17px;
        /* font-weight: bold; */
        text-shadow: var(--shadow-chinese);
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(10px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(-10px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-area {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.5rem;
    & > .box:nth-child(1) {
      align-self: start;
    }
    .noun-list {
      height: 0;
      min-height: 90%;
      overflow-y: auto;
      min-width: 0;
      padding: 0.5rem 1.5rem 1.5rem 0.5rem;
    }
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .name-list {
      .character-card {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin-bottom: 1.5rem;
        width: fit-content;
        p{
          text-shadow: var(--shadow-chinese);
        }
      }
      .avatar {
        position: relative;
        width: 50px;
        height: 50px;
        min-height: 50px;
        min-width: 50px;
        object-fit: cover;
        overflow: hidden;
        border: 1px solid rgb(19, 31, 8);
        margin-right: 1rem;
      }
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      height: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(19, 31, 8, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(19, 31, 8, 0.3);
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2.5rem;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

