/* 通用基礎設定 */
.box {
  background-color: var(--box-bg-color);
}
.branch_bottom,
.branch_top {
  width: 150px;
  height: auto;
  display: block;
  color: var(--text-color);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
}

#original {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    border-bottom: 1px dashed var(--text-color);
    .left {
      background-image: url("../../image/original/original-banner.avif");
      background-color: rgba(61, 89, 131, 0.5);
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      justify-content: end;
      align-items: end;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        position: absolute;
        bottom: 18px;
        right: 75px;
        font-size: 20px;
        font-family: "Shippori Mincho B1", serif;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      p {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(0px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(0px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
}
