.label-links {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  right: 0;
  top: -5rem;
}

.label-zh {
  width: 35px;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--box-bg-color);
  -webkit-writing-mode: vertical-rl; /* 兼容 Safari/Chrome */
  writing-mode: vertical-rl;
  clip-path: polygon(100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
  padding: 0.51rem 0.5rem 1rem;
  text-shadow: var(--shadow-chinese);
}
.label-wrap {
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

#project {
  .letterspacing-1px {
    letter-spacing: -1px;
  }
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;

    .left {
      background-image: url("../../image/project/project-banner.avif");
      background-color: rgb(11, 8, 15);
      background-blend-mode: screen;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-right: 10px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .break {
      flex-basis: 100%;
      height: 0;
    }

    .chara-card {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 1rem;
      filter: drop-shadow(0 0 5px #9d8cb355);
      transition: all 0.3s ease-out;
      h5,
      h6 {
        font-weight: bold;
      }
      h6{
        font-size: 1rem;
      }
      span {
        letter-spacing: -1px;
        font-size: 12px;
        font-family: "Shippori Mincho B1", serif;
      }
      .default {
        display: flex;
      }
      .hover {
        display: none;
      }
      &:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease-out;
        .default {
          display: none;
        }
        .hover {
          display: flex;
        }
      }
      .top {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: var(--chara-card);
        padding: 0.5rem 1rem;
      }
      .photo {
        width: 300px;
        height: 120px;
        padding: 0;
        background-size: cover;
        background-position: center;
      }
      .info {
        background-color: var(--chara-card);
        padding: 0.5rem 1rem;
      }
      .bottom {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        height: fit-content;
        padding: 0.5rem 1rem 1rem;
        background-color: var(--chara-card);
      }
      .rip {
        height: 32px;
        margin: 0 15px;
        background-color: var(--chara-card);
        background-image: url("../../image/project/dot.png");
        background-size: 9px 3px;
        background-repeat: repeat-x;
        background-position: center;
        position: relative;
        z-index: -1;
        box-shadow:
          0 1px 0 0 var(--chara-card),
          0 -1px 0 0 var(--chara-card);
        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          border: 10px solid transparent;
          border-top-color: var(--chara-card);
          border-right-color: var(--chara-card);
          border-radius: 100%;
          pointer-events: none;
          z-index: -1;
        }
        &:before {
          left: -15px;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(225deg);
          right: -65px;
        }
      }
    }
    .vca-lilin {
      --chara-card: #e6eedf;

      h5,
      h6 {
        color: #081f08;
      }
      span {
        color: #717d71;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/VCA.png");
      }
    }
    .duetta-lilin {
      --chara-card: #f1ebd3;

      h5,
      h6 {
        color: #140e04;
      }
      span {
        color: #413c2b;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/DUETTA-Lilin.png");
      }
    }
    .duetta-naxira {
      --chara-card: #dbdbdb;

      h5,
      h6 {
        color: #070414;
      }
      span {
        color: #302d3d;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/DUETTA-Naxira.png");
      }
    }
    .ag {
      --chara-card: #f3e7ea;

      h5,
      h6 {
        color: #050d31;
      }
      span {
        color: #3f4250;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/AG.png");
      }
    }
    .st {
      --chara-card: #ded5ca;

      h5,
      h6 {
        color: #281709;
      }
      span {
        color: #5b4e43;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/ST.png");
      }
    }
    .dl {
      --chara-card: #ddcfcf;

      h5,
      h6 {
        color: #281709;
      }
      span {
        color: #5b4e43;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/DL.png");
      }
    }
    .ymsh {
      --chara-card: #dfe4f7;

      h5,
      h6 {
        color: #0a0928;
      }
      span {
        color: #7d8598;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/YMSH.png");
      }
    }
    .sappho-audrey {
      --chara-card: #e7dff7;

      h5,
      h6 {
        color: #230731;
      }
      span {
        color: #8f7d98;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/Sappho-Audrey.png");
      }
    }
    .sappho-yana {
      --chara-card: #e6f1ff;

      h5,
      h6 {
        color: #072931;
      }
      span {
        color: #495f64;
      }
      .photo {
        background-color: #96a296;
        background-image: url("../../image/project/Sappho-Yana.png");
      }
    }
  }
}

#VCA {
  position: relative;
  #top {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }
  .setting {
    width: 250px;
    position: absolute;
    top: -4rem;
    left: 10rem;
    z-index: -1;
  }
  #info {
    position: relative;
    z-index: -2;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 450px 0.9fr 0.5fr;
    align-items: stretch;

    .content {
      padding: 2rem 1rem;
      h6 {
        font-family: "Iansui";
        text-shadow: var(--shadow-chinese);
      }
      p {
        line-height: 2;
        text-shadow: var(--shadow-chinese);
      }
    }
    .chibi {
      contain: size;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a,
      img {
        display: block;
        max-height: 100%;
        width: auto;
        max-width: 100%;
        object-fit: contain;
      }
      a {
        width: fit-content;
      }
    }
  }
  #creates-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2.5rem;
    h2 {
      text-shadow: var(--shadow-chinese);
      font-weight: bold;
      letter-spacing: 0;
    }
    .btn {
      padding: 0.4rem 1rem;
      width: fit-content;
      display: inline-block;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
      transition: var(--all-02s-easeOut);
      &:hover {
        letter-spacing: 0.05rem;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
