#project {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;

    .left {
      background-image: url("../../image/project/project-banner.avif");
      background-color: rgb(11, 8, 15);
      background-blend-mode: screen;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-right: 10px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.chara-card {
  display: flex;
  flex-direction: column;

  h5,
  h6 {
    color: #000 !important;
  }
  width: 300px;
  .p-name {
    display: none;
  }
  &:hover {
    .name {
      display: none;
    }
    .p-name {
      display: block;
    }
  }
  .top {
    padding: 0.5rem;
  }
  .photo {
    width: 300px;
    height: 120px;
    padding: 0;
    background-color: #96A296;
    background-image: url("../../image/project/golden\ line.png");
    background-size: cover;
    background-position: center;
    
  }

  .top,
  .bottom,
  .rip {
    background-color: #646464
  }

  .top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: fit-content;
    padding: 0.5rem;
    padding-top: 0 !important;
  }
  .rip {
    height: 32px;
    margin: 0 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
    background-size: 4px 2px;
    background-repeat: repeat-x;
    background-position: center;
    position: relative;
    z-index: -1;
    box-shadow:
      0 1px 0 0 #646464,
      0 -1px 0 0 #646464;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 10px solid transparent;
      border-top-color: #646464;
      border-right-color: #646464;
      border-radius: 100%;
      pointer-events: none;
      z-index: -1;
    }
    &:before {
      left: -15px;
    }
    &:after {
      transform: translate(-50%, -50%) rotate(225deg);
      right: -65px;
    }
  }
}
