#project {
  #banner {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.333fr 0.667fr;

    .left {
      background-image: url("../../image/project/project-banner.avif");
      background-color: rgb(11, 8, 15);
      background-blend-mode: screen;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-wrap: nowrap;
        font-size: 100px;
        font-family: "Italianno", cursive;
        font-weight: normal;
        text-shadow: var(--shadow-chinese);
        margin: 0 2rem 0 0;
      }
      h2 {
        text-wrap: nowrap;
        margin-top: -40px;
        margin-right: 10px;
        font-size: 20px;
        text-shadow: var(--shadow-chinese);
        z-index: 0;
        font-weight: bold;
      }
    }
    .right {
      padding: 2rem 0;
      p {
        font-size: 17px;
      }
      span {
        text-shadow: var(--shadow-chinese);
      }
      .hover-box {
        .context {
          grid-area: 1 / 1;
        }
        .context.default {
          opacity: 1;
          transition: opacity 0.3s ease-out;
        }
        .context.hover {
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        .branch_top {
          transform: translateY(15px);
          transition: all 0.3s ease-out;
        }
        .branch_bottom {
          transform: translateY(-15px);
          transition: all 0.3s ease-out;
        }
        &:hover {
          .context.default {
            opacity: 0;
            transition: opacity 0.3s ease-out;
          }
          .context.hover {
            opacity: 1;
            transition: opacity 0.3s ease-out;
          }
          .branch_top {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
          .branch_bottom {
            transform: translateY(0px);
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
  #characters-card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .chara-card {
      min-height: 120px;
      width: 360px;
      border-radius: 4px;
      display: grid;
      grid-template-columns: 1fr 0.5fr;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;
      outline: 1px solid rgba(255, 255, 255, 0.2);
      transition: var(--all-02s-easeOut);
      .title {
        padding: 0.5rem;
        .name {
          display: block;
        }
        .p-name {
          display: none;
        }
      }
      .img {
        width: 150px;
        min-height: 120px;
        background-size: cover;
        background-position: center;
        margin-left: auto;
      }
      &:hover {
        transform: translateY(-3px);
        transition: all 0.3s ease-out;
        .title {
          .name {
            display: none;
          }
          .p-name {
            display: block;
          }
        }
      }
    }

    .vca-lilin,
    .duetta-lilin,
    .duetta-naxira,
    .ag,
    .st,
    .dl,
    .ymsh,
    .sappho-audrey,
    .sappho-yana {
      .img {
        background-image: url("../../image/avatar.webp");
      }
    }
  }
}
