@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

:root 
  font-size: 17px;


global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../image/bg-base.jpg");  
  background-color: rgba(35,36,61,0.9);
  background-blend-mode: multiply;
  color:#f0f0f0;
  letter-spacing: 0.01rem;

html, body 
  font-family:
    "Iansui", "LXGW WenKai Mono TC", "Noto Sans TC", system-ui, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


main 
  min-height: calc(100vh - $header-height - $footer-height)


#main
  display: grid
  grid-template-columns: auto minmax(200px, 300px)
  gap 2rem


.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  width: 100%
  position: relative
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  .mobile-nav-on &
    left: mobile-nav-width

if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"