@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

:root 
  font-size: 17px;

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../image/bg-base.jpg");  
  background-color: rgba(35,36,61,0.9);
  background-blend-mode: multiply;
  color:#f0f0f0;
  letter-spacing: 0.01rem;

html, body 
  font-family:
    "Iansui", "LXGW WenKai Mono TC", "Noto Sans TC", system-ui, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


main 
  min-height: calc(100vh - $header-height - $footer-height)


#main
  display: grid
  grid-template-columns: auto minmax(200px, 300px)
  gap 2rem


.inner
  column(columns)

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  width: 100%
  position: relative
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  .mobile-nav-on &
    left: mobile-nav-width

.hbe-input-label-content-blink
  color: rgba(255,255,255,.9) !important
  font-size: 1.2rem

.hbe-input-label-blink
  top: -5px !important

.hbe-input
  width: 100%
  border-radius: 0
  padding: 1.2rem 1.5rem
  color: rgba(255,255,255,.9)
  letter-spacing: .03em

.hbe-input-field-blink
  color: #fff  !important

.hbe-input-field-blink:focus
  border-color: #fff !important
  color: #fff  !important

.hbe-input::placeholder
  color: rgba(255,255,255,.45)

.hbe-input-label-content-blink::after
  color: #fff  !important

button.hbe-button
  background: transparent !important
  border: none
  color: transparent !important
  font-size: 1rem !important
  position: relative
  padding: .3rem 1rem
  letter-spacing: .08em
  text-transform: uppercase
  transition: opacity .3s ease
  &:hover
    background: rgba(255, 255, 255, 0.35) !important
    outline: none
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0)
    opacity: 0.8

button.hbe-button::before
  content: "Enter"
  position: absolute
  inset: 0
  display: flex
  align-items: center
  justify-content: center
  color: rgba(255,255,255,.75)

button.hbe-button:hover::before
  color: #fff

.hbe-error 
  color: #fff !important
  font-size: 1.1rem !important
  font-weight: 900

.hbe-error:not(:empty) 
  background: rgb(255, 0, 47)!important



if sidebar and sidebar isnt bottom
  #main
    @media mq-normal
      column(main-column)

if sidebar is left
  @media mq-normal
    #main
      float: right

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"


if sidebar
  @import "_partial/sidebar"
