#sidebar
  margin-top: block-margin
  

.widget-title
  @extend $blog-side-title

.widget
  color: color-sidebar-text
  background: transparent
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.widget-wrap
  margin-bottom: block-margin
  background: rgba(14, 23, 47, 0.5)
  padding: 0.5rem