if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: $text-color
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block

.series-list
  margin: 0
  padding: 0

.series-list-branch
  color: $text-sub-color
  margin-top: 0.5rem

.series-list-branch:first-child
  margin-top: 0

.series-post-link
  margin-left : 1rem
  
.series-post-link.is-current
  text-shadow: 0 0 5px $text-color

.series-list-item
  font-size : 0.95rem
  line-height : 2rem
    
